.venv*
/build/
/dist/
/fbra_telegram.egg-info/
/fbratelegram/tests/test_keys.py
/fbratelegram/config.ini
/fbratelegram/tests/config.ini
/fbratelegram/examples/config.ini
/.python-version
/Pipfile
/Pipfile.lock
/requirements.txt
